<div class="search-bar d-flex mb-2 mt-2">
  <button type="button" routerLink="/conf" class="btn btn-secondary ml-2 d-flex align-items-center" >
    <i class="fas fa-chevron-left mr-1"></i> Back
  </button>
  <!-- <input [(ngModel)]="searchText" class="form-control ml-1" (keyup)="filterData()" placeholder="Search">
  <button type="button" class="btn btn-outline-primary ml-2 d-flex align-items-center" data-toggle="modal" data-target="#importModalCenter">
    <i class="fas fa-file-import mr-2"></i> Import
  </button>
  <button type="button" class="btn btn-outline-primary ml-2 d-flex align-items-center" data-toggle="modal" data-target="#exportModalCenter">
    <i class="fas fa-download mr-2"></i> Export
  </button>
  <button type="button" class="btn btn-primary ml-2 mr-1 d-flex align-items-center" data-toggle="modal" data-target="#exampleModal"
  (click)="addClick()" data-backdrop="static" data-keyboard="false" style="width: 220px;"><i class="fas fa-plus mr-2"></i>Add New Plant</button> -->
</div>


  <table class="table table-striped table-hover" style="text-align: center;">
    <thead>
      <tr style="background-color: #2b6099; color: white;">
        <th>#</th>
        <th>Location Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of LocationList; let i=index">
        <td>{{i + 1}}</td>
        <td>{{dataItem.locationName}}</td>
      </tr>
    </tbody>
  </table>

<!-- <div class="button-container mt-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
    (click)="addClick()" data-backdrop="static" data-keyboard="false">
    Add Plant
  </button>
</div> -->

<!-- <div class="back-button-container mt-3">
  <button [routerLink]="authenticated && message === 'Logged in as superuser' ? '/admin' : '/home'" type="button"
    class="btn btn-primary" data-backdrop="static" data-keyboard="false">
    Back
  </button>
</div> -->
