<div class="col-12 text-center text-500">
    <h4>SHOPFLOOR : ORT Shopfloor</h4>
</div>
<div class="scrollable-div">
    <div class="card alert-card" *ngFor="let item of andonList">
        <div class="card-body">
            <h5 class="card-title text-red-500"><i class="fas fa-bell"></i></h5>
            <div class="card card-content justify-content-between">
                <div class="col-12 grid">
                    <span class="card-key text-900">Shopfloor : </span>
                    <span class="card-value text-900">{{ item.shopfloor }}</span>
                </div>
                <div class="col-12 grid">
                    <span class="card-key text-900">Workstation : </span>
                    <span class="card-value text-900">{{ item.machineId }}</span>
                </div>
                <div class="col-12 grid">
                    <span class="card-key text-900">Breakdown Reason : </span>
                    <span class="card-value text-900">{{ item.category }}</span>
                </div>
                <div class="col-12 grid">
                    <span class="card-key text-900">Raise Alert : </span>
                    <span class=" text-900">{{ item.raise_alert | date: 'dd-MM-yyyy HH:mm:ss' }}</span>
                </div>
                <div class="col-12 grid">
                    <span class="card-key text-900">Andon Alert : </span>
                    <span class=" text-900">{{ item.andon_alerts | date: 'dd-MM-yyyy HH:mm:ss' }}</span>
                </div>
                <div class="col-12 grid">
                    <span class="card-key text-900">Andon Acknowledge : </span>
                    <span class=" text-900">{{ item.andon_acknowledge | date: 'dd-MM-yyyy HH:mm:ss' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>







