<div class="card">

    <div class="grid">
        <div class="col-12 md:col-4 lg:col-4">
            <div class="col-12">
                <h4>Daily Breakdown Analysis</h4>
                <span *ngIf="noBreakdownToday" class="text-700 block font-bold text-center text-2xl">
                    No Breakdowns Today
                </span>
                <div *ngIf="!noBreakdownToday">
                <p-chart type="pie" [data]="pieChartData" [options]="pieChartOptions"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-8 lg:col-8">
          <div class="grid grid-cards">
            <div class="col-12 md:col-3 lg:col-3 xl:col-3" *ngFor="let metric of metrics">
                <div class="card" styleClass="metric-card" [style]="{'background-color': metric.backgroundColor, 'color': 'white' }">
                    <div class="metric-label">{{metric.label}}</div>
                    <div class="metric-value">{{metric.value}}</div>
                </div>
            </div>
            <div class="col-12 md:col-4 lg:col-4 xl:col-4" *ngFor="let metric of breakdowns">
                <div class="card" styleClass="metric-card" [style]="{'background-color': metric.backgroundColor, 'color': 'white' }">
                    <div class="metric-label">{{metric.label}}</div>
                    <div class="metric-value">{{metric.value}}</div>
                </div>
            </div>
          </div>
        </div>
      </div>

</div>
