<div class="card">
    <!-- Workstation Info Section -->
    <div class="workstation-info">
        <div class="flex justify-content-center align-items-center">
            <span class="clock font-bold text-medium text-900 block">
                {{ currentDate | date: 'dd-MM-yyyy => HH : mm : ss':'Asia/Kolkata' }}
            </span>
        </div>
        <div class="flex justify-content-center flex-column sm:flex-row">
            <span class="block text-900 text-xl font-bold font-large">Shopfloor : ASD</span>
        </div>
        <div class="flex justify-content-center flex-column sm:flex-row">
            <span class="block text-900 text-xl font-bold font-large">Shift GS, 08:00 - 06:00</span>
        </div>
    </div>

    <!-- Main Content Section -->
    <div class="grid-container">
        <!-- Cards Section (80%) -->
        <div class="cards-container">
            <div class="card-inheritance" style="background-color: rgb(96, 172, 202);">
                <span class="text-900 text-white text-xl">Daily Plan vs Actual</span>
            </div>
            <div class="card-inheritance" style="background-color: #45b6fe;">
                <span class="text-900 text-white text-xl">Andon Call Help</span>
            </div>
            <div class="card-inheritance" style="background-color: #ee6b6e;">
                <span class="text-900 text-white text-xl">Production</span>
            </div>
            <div class="card-inheritance" style="background-color: #80e57c;">
                <span class="text-900 text-white text-xl">Breakdown</span>
            </div>
            <div class="card-inheritance" style="background-color: #969039;">
                <span class="text-900 text-white text-xl">Analysis</span>
            </div>
            <div class="card-inheritance" style="background-color: #2d2788;">
                <span class="text-900 text-white text-xl">SOP</span>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="grid flex">
        <div class="card col-3">
            <div class="" style="display: flex; align-items: center; justify-content: space-between; background-color: #007bff; color: white; border-radius: 10px; padding: 5px;">
                <span class="text-xl font-bold">Line - 001 JC:1001</span>
                <input type="text" placeholder="Search" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px; width: 150px;">
            </div>
            <div style="margin-top: 10px; height: 100px; border: 2px solid white; background-color: transparent; overflow-y: auto;">
                <table style="width: 100%; border-collapse: collapse; text-align: left;">
                    <thead>
                        <tr>
                            <th style="border-bottom: 1px solid;">JC</th>
                            <th style="border-bottom: 1px solid;">Cycle Time</th>
                            <th style="border-bottom: 1px solid;">Actual</th>
                            <th style="border-bottom: 1px solid;">Gap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px;">JC-001</td>
                            <td style="padding: 5px;">02:30</td>
                            <td style="padding: 5px;">34</td>
                            <td style="padding: 5px;">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-3">
            <div class="" style="display: flex; align-items: center; justify-content: space-between; background-color: #ffc107; color: white; border-radius: 10px; padding: 5px;">
                <span class="text-xl font-bold">Line - 002 JC:1002</span>
                <input type="text" placeholder="Search" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px; width: 150px;">
            </div>
            <div style="margin-top: 10px; height: 100px; border: 2px solid white; background-color: transparent; overflow-y: auto;">
                <table style="width: 100%; border-collapse: collapse; text-align: left;">
                    <thead>
                        <tr>
                            <th style="border-bottom: 1px solid;">JC</th>
                            <th style="border-bottom: 1px solid;">Cycle Time</th>
                            <th style="border-bottom: 1px solid;">Actual</th>
                            <th style="border-bottom: 1px solid;">Gap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px;">JC-002</td>
                            <td style="padding: 5px;">02:30</td>
                            <td style="padding: 5px;">34</td>
                            <td style="padding: 5px;">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-3">
            <div class="" style="display: flex; align-items: center; justify-content: space-between; background-color: #28a745; color: white; border-radius: 10px; padding: 5px;">
                <span class="text-xl font-bold">Line - 003 JC:1003</span>
                <input type="text" placeholder="Search" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px; width: 150px;">
            </div>
            <div style="margin-top: 10px; height: 100px; border: 2px solid white; background-color: transparent; overflow-y: auto;">
                <table style="width: 100%; border-collapse: collapse; text-align: left;">
                    <thead>
                        <tr>
                            <th style="border-bottom: 1px solid;">JC</th>
                            <th style="border-bottom: 1px solid;">Cycle Time</th>
                            <th style="border-bottom: 1px solid;">Actual</th>
                            <th style="border-bottom: 1px solid;">Gap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px;">JC-003</td>
                            <td style="padding: 5px;">02:30</td>
                            <td style="padding: 5px;">34</td>
                            <td style="padding: 5px;">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-3">
            <div class="" style="display: flex; align-items: center; justify-content: space-between; background-color: #dc3545; color: white; border-radius: 10px; padding: 5px;">
                <span class="text-xl font-bold">Line - 004 JC:1004</span>
                <input type="text" placeholder="Search" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px; width: 150px;">
            </div>
            <div style="margin-top: 10px; height: 100px; border: 2px solid white; background-color: transparent; overflow-y: auto;">
                <table style="width: 100%; border-collapse: collapse; text-align: left;">
                    <thead>
                        <tr>
                            <th style="border-bottom: 1px solid;">JC</th>
                            <th style="border-bottom: 1px solid;">Cycle Time</th>
                            <th style="border-bottom: 1px solid;">Actual</th>
                            <th style="border-bottom: 1px solid;">Gap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px;">JC-004</td>
                            <td style="padding: 5px;">02:30</td>
                            <td style="padding: 5px;">34</td>
                            <td style="padding: 5px;">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-3">
            <div class="" style="display: flex; align-items: center; justify-content: space-between; background-color: #6c757d; color: white; border-radius: 10px; padding: 5px;">
                <span class="text-xl font-bold">Line - 005 JC:1005</span>
                <input type="text" placeholder="Search" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px; width: 150px;">
            </div>
            <div style="margin-top: 10px; height: 100px; border: 2px solid white; background-color: transparent; overflow-y: auto;">
                <table style="width: 100%; border-collapse: collapse; text-align: left;">
                    <thead>
                        <tr>
                            <th style="border-bottom: 1px solid;">JC</th>
                            <th style="border-bottom: 1px solid;">Cycle Time</th>
                            <th style="border-bottom: 1px solid;">Actual</th>
                            <th style="border-bottom: 1px solid;">Gap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px;">JC-005</td>
                            <td style="padding: 5px;">02:30</td>
                            <td style="padding: 5px;">34</td>
                            <td style="padding: 5px;">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-3">
            <div class="" style="display: flex; align-items: center; justify-content: space-between; background-color: #17a2b8; color: white; border-radius: 10px; padding: 5px;">
                <span class="text-xl font-bold">Line - 006 JC:1006</span>
                <input type="text" placeholder="Search" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px; width: 150px;">
            </div>
            <div style="margin-top: 10px; height: 100px; border: 2px solid white; background-color: transparent; overflow-y: auto;">
                <table style="width: 100%; border-collapse: collapse; text-align: left;">
                    <thead>
                        <tr>
                            <th style="border-bottom: 1px solid;">JC</th>
                            <th style="border-bottom: 1px solid;">Cycle Time</th>
                            <th style="border-bottom: 1px solid;">Actual</th>
                            <th style="border-bottom: 1px solid;">Gap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px;">JC-006</td>
                            <td style="padding: 5px;">02:30</td>
                            <td style="padding: 5px;">34</td>
                            <td style="padding: 5px;">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-3">
            <div class="" style="display: flex; align-items: center; justify-content: space-between; background-color: #6610f2; color: white; border-radius: 10px; padding: 5px;">
                <span class="text-xl font-bold">Line - 007 JC:1007</span>
                <input type="text" placeholder="Search" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px; width: 150px;">
            </div>
            <div style="margin-top: 10px; height: 100px; border: 2px solid white; background-color: transparent; overflow-y: auto;">
                <table style="width: 100%; border-collapse: collapse; text-align: left;">
                    <thead>
                        <tr>
                            <th style="border-bottom: 1px solid;">JC</th>
                            <th style="border-bottom: 1px solid;">Cycle Time</th>
                            <th style="border-bottom: 1px solid;">Actual</th>
                            <th style="border-bottom: 1px solid;">Gap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px;">JC-007</td>
                            <td style="padding: 5px;">02:30</td>
                            <td style="padding: 5px;">34</td>
                            <td style="padding: 5px;">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-3">
            <div class="" style="display: flex; align-items: center; justify-content: space-between; background-color: #e83e8c; color: white; border-radius: 10px; padding: 5px;">
                <span class="text-xl font-bold">Line - 008 JC:1008</span>
                <input type="text" placeholder="Search" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px; width: 150px;">
            </div>
            <div style="margin-top: 10px; height: 100px; border: 2px solid white; background-color: transparent; overflow-y: auto;">
                <table style="width: 100%; border-collapse: collapse; text-align: left;">
                    <thead>
                        <tr>
                            <th style="border-bottom: 1px solid;">JC</th>
                            <th style="border-bottom: 1px solid;">Cycle Time</th>
                            <th style="border-bottom: 1px solid;">Actual</th>
                            <th style="border-bottom: 1px solid;">Gap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px;">JC-008</td>
                            <td style="padding: 5px;">02:30</td>
                            <td style="padding: 5px;">34</td>
                            <td style="padding: 5px;">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
