<div class="card flex justify-content-center">
    <div class="col-12 grid flex justify-content-center">

        <div class="col-12 flex justify-content-between align-items-start">
            <p-tag severity="info" value="Line : SSL"/>
            <span class="flex justify-content-center align-items-start block text-bold text-2xl">Jobwork : cat0043</span>
        </div>

        <div class="col-12 grid flex justify-content-center">

            <div class="col-3">
                <div class="card flex justify-content-center align-items-bottom">
                    <div class="p-card-header">
                        <span class="flex justify-content-center align-items-center block text-bold text-2xl">Workstation : 001</span>
                    </div>
                    <p-chart type="doughnut" [data]="data" [options]="options" />
                </div>
            </div>

            <div class="col-3">
                <div class="card flex justify-content-center align-items-bottom">
                    <div class="p-card-header">
                        <span class="flex justify-content-center align-items-center block text-bold text-2xl">Workstation : 002</span>
                    </div>
                    <p-chart type="doughnut" [data]="data" [options]="options" />
                </div>
            </div>

            <div class="col-3">
                <div class="card flex justify-content-center align-items-bottom">
                    <div class="p-card-header">
                        <span class="flex justify-content-center align-items-center block text-bold text-2xl">Workstation : 003</span>
                    </div>
                    <p-chart type="doughnut" [data]="data" [options]="options" />
                </div>
            </div>

            <div class="col-3">
                <div class="card flex justify-content-center align-items-bottom">
                    <div class="p-card-header">
                        <span class="flex justify-content-center align-items-center block text-bold text-2xl">Workstation : 004</span>
                    </div>
                    <p-chart type="doughnut" [data]="data" [options]="options" />
                </div>
            </div>

        </div>

        <div class="col-12 flex justify-content-between align-items-start">
            <p-tag severity="info" value="Line : XYZ"/>
            <span class="flex justify-content-center align-items-start block text-bold text-2xl">Jobwork : cat004</span>
        </div>

        <div class="col-12 grid flex justify-content-center">

            <div class="col-3">
                <div class="card flex justify-content-center align-items-bottom">
                    <div class="p-card-header">
                        <span class="flex justify-content-center align-items-center block text-bold text-2xl">Workstation : 001</span>
                    </div>
                    <p-chart type="doughnut" [data]="data" [options]="options" />
                </div>
            </div>

            <div class="col-3">
                <div class="card flex justify-content-center align-items-bottom">
                    <div class="p-card-header">
                        <span class="flex justify-content-center align-items-center block text-bold text-2xl">Workstation : 002</span>
                    </div>
                    <p-chart type="doughnut" [data]="data" [options]="options" />
                </div>
            </div>

            <div class="col-3">
                <div class="card flex justify-content-center align-items-bottom">
                    <div class="p-card-header">
                        <span class="flex justify-content-center align-items-center block text-bold text-2xl">Workstation : 003</span>
                    </div>
                    <p-chart type="doughnut" [data]="data" [options]="options" />
                </div>
            </div>

            <div class="col-3">
                <div class="card flex justify-content-center align-items-bottom">
                    <div class="p-card-header">
                        <span class="flex justify-content-center align-items-center block text-bold text-2xl">Workstation : 004</span>
                    </div>
                    <p-chart type="doughnut" [data]="data" [options]="options" />
                </div>
            </div>

        </div>

    </div>
</div>


