.stat-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.stat-badge {
    &.stat-Active {
        background: #C8E6C9;
        color: #256029;
    }

    &.stat-Idle {
        background: #FFCDD2;
        color: #C63737;
    }

    &.stat-NoResponse {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-lowstock {
        background: #FEEDAF;
        color: #8A5340;
    }
}

.nav-click {
    cursor: pointer;
}

.clock {
    font-size: 2rem;
    font-family: 'digital-7', sans-serif;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
}

.clock-body {
    display: flex;
    font-family: 'digital-7', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    border: 5px solid grey;
    padding: 4px;
}
