<!-- <div class="card">
    <p-chart type="line" [data]="yearlyData" [options]="yearlyOptions"></p-chart>
</div> -->


<div class="card">
    <h5>Monthly Production vs Target</h5>
    <p-chart type="line" [data]="ProdData" [options]="prodOptions"></p-chart>
</div>

<div class="card">
    <h5>Previous 30 Days Production vs Target</h5>
    <p-chart type="line" [data]="Prod2Data" [options]="prod2Options"></p-chart>
</div>

<div class="card">
    <h5>Previous 7 Days Production vs Target</h5>
    <p-chart type="line" [data]="Prod3Data" [options]="prod3Options"></p-chart>
</div>

<!-- <div class="card">
    <h5>Monthly Breakdowns</h5>
    <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
</div>

<div class="card">
    <h5>Monthly Breakdown vs Running</h5>
    <p-chart type="bar" [data]="bar2Data" [options]="bar2Options"></p-chart>
</div> -->
