<div class="card">
    <!-- <div class="flex justify-content-between flex-column sm:flex-row">

        <div class="flex justify-content-center flex-column sm:flex-row">
           <span class="block text-900 text-xl font-bold font-large">Line 1 Spindle Production</span>
        </div>

        <div class="flex justify-content-center align-items-center">
            <span class="clock font-bold text-900 block">{{ currentDate | date: 'dd-MM-yyyy => HH : mm : ss':'Asia/Kolkata'  }}</span>
        </div>

        <div class="flex justify-content-center flex-column sm:flex-row">
            <span class="block text-900 text-xl font-bold font-large">{{ currentShift }}</span>
        </div>

    </div> -->

    <div class="workstation-info">
        <div class="flex justify-content-center align-items-center">
            <span class="clock font-bold text-medium text-900 block">
                {{ currentDate | date: 'dd-MM-yyyy => HH : mm : ss':'Asia/Kolkata' }}
            </span>
        </div>
        <div class="flex justify-content-center flex-column sm:flex-row">
            <span class="block text-900 text-xl font-bold font-large">Line: SSL Workstation - 001</span>
        </div>
        <div class="flex justify-content-center flex-column sm:flex-row">
            <span class="block text-900 text-xl font-bold font-large">Shift GS, 08:00 - 06:00</span>
        </div>
    </div>
</div>

<div>
    <div class="grid">

        <div class="col-3 col-auto" *ngFor="let machine of machineList1">
            <div class="card">
                <!-- <div class="card-header">
                    <h6>{{ item.channel }}</h6>
                </div> -->

                <div class="">
                    <p-divider align="left">
                        <img src="assets/demo/images/machines/milling-machine.jpg" width="32" style="vertical-align: middle"/>
                        <span class="p-tag">{{ machine.channel }}</span>
                         <!-- <span class="p-tag">ORT</span> -->
                    </p-divider>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/gears.gif" alt="Gears animation" width="20" height="20">Status <span class="p-tag ml-2"><i class="fa-solid fa-arrow-up-right-from-square" style="color: white; cursor: pointer;" (click)="navigateToMachineDetails(machine.machine_id)"></i></span></span>
                        </div>
                        <div>
                            <div class="status-bubble" [ngClass]="{'green': !machine.health, 'red': machine.health}"></div>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/clock.gif" alt="Gears animation" width="20" height="20">On Time</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ machine.total_on_time }}</span>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/clock.gif" alt="Gears animation" width="20" height="20">Idle Time</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ machine.total_idle_time }}</span>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/clock.gif" alt="Gears animation" width="20" height="20">Breakdown Reason</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ machine.breakdown_time }}</span>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/alert.gif" alt="Gears animation" width="20" height="20">Alert</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ machine.alert }}</span>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/alert.gif" alt="Gears animation" width="20" height="20">Acknowledge</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ machine.acknowledge }}</span>
                        </div>
                    </div>

                    <!-- <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/alert.gif" alt="Gears animation" width="20" height="20">Production Count</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ machine.production_count }}</span>
                        </div>
                    </div> -->

                    <!-- <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/alert.gif" alt="Gears animation" width="20" height="20">Production Target</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ machine.production_target }}</span>
                        </div>
                    </div> -->



                    <!-- <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/alert.gif" alt="Gears animation" width="20" height="20">Alert</span>
                        </div>
                        <div>
                            <span class="alert-badge status-blue">{{ item.alert }}</span><i class="fa-solid fa-arrow-up-right-from-square ml-1" style="color: blue; cursor: pointer;" routerLink="/machine_dash"></i>
                        </div>
                    </div> -->

                    <p-chart type="bar" [data]="bar1Chart" [options]="bar1Options"></p-chart>

                </div>
            </div>
        </div>

        <!-- <div class="col-3 col-auto" *ngFor="let item of machineList">
            <div class="card">

                <div class="">
                    <p-divider align="left">
                        <img src="assets/demo/images/machines/milling-machine.jpg" width="32" style="vertical-align: middle"/>
                        <span class="p-tag">{{ item.channel }}</span>
                    </p-divider>



                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/gears.gif" alt="Gears animation" width="20" height="20">{{ item.machine }} <span class="p-tag ml-2"><i class="fa-solid fa-arrow-up-right-from-square" style="color: white; cursor: pointer;" routerLink="/machine_dash"></i></span></span>
                        </div>
                        <div>
                            <div class="status-bubble" [ngClass]="{'green': item.status, 'red': !item.status}"></div>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/clock.gif" alt="Gears animation" width="20" height="20">On Time</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ item.onTime }}</span>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/clock.gif" alt="Gears animation" width="20" height="20">Idle Time</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ item.idleTime }}</span>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/clock.gif" alt="Gears animation" width="20" height="20">Breaktime</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ item.breakTime }}</span>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/alert.gif" alt="Gears animation" width="20" height="20">Production Count</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ item.prodCount }}</span>
                        </div>
                    </div>

                    <div class="flex justify-content-between">
                        <div>
                            <span class="block text-900 font-medium"><img src="assets/demo/images/animatedicons/alert.gif" alt="Gears animation" width="20" height="20">Production Target</span>
                        </div>
                        <div>
                            <span class="block text-900 font-medium">{{ item.prodTarget }}</span>
                        </div>
                    </div>

                    <p-chart type="bar" [data]="bar1Chart" [options]="bar1Options"></p-chart>

                </div>
            </div>
        </div> -->
    </div>
</div>
