<div class="card">
    <p-chart type="bar" [data]="barChart" [options]="barOptions"></p-chart>
</div>

<div class="card"  *ngFor="let machine of machines">
    <h6 class="text-800 font-bold">Workstation : {{ machine }}</h6>
    <p-chart type="bar" [data]="machineCharts[machine]?.bar1Chart" [options]="bar1Options"></p-chart>
    <div *ngIf="!machineCharts[machine]?.noBreakdownToday">
        <p-chart type="bar" [data]="machineCharts[machine]?.bar11Chart" [options]="bar11Options"></p-chart>
    </div>
    <span *ngIf="machineCharts[machine]?.noBreakdownToday" class="text-700 block font-bold text-center text-2xl">
        No Breakdowns
    </span>
</div>

<!-- <div class="card">
    <h6 class="text-800 font-bold">Workstation : WS-002</h6>
    <p-chart type="bar" [data]="bar1Chart" [options]="bar1Options"></p-chart>
    <p-chart type="bar" [data]="bar2Chart" [options]="bar2Options"></p-chart>
</div>

<div class="card">
    <h6 class="text-800 font-bold">Workstation : WS-003</h6>
    <p-chart type="bar" [data]="bar1Chart" [options]="bar1Options"></p-chart>
    <p-chart type="bar" [data]="bar2Chart" [options]="bar2Options"></p-chart>
</div>

<div class="card">
    <h6 class="text-800 font-bold">Workstation : WS-004</h6>
    <p-chart type="bar" [data]="bar1Chart" [options]="bar1Options"></p-chart>
    <p-chart type="bar" [data]="bar2Chart" [options]="bar2Options"></p-chart>
</div>

<div class="card">
    <h6 class="text-800 font-bold">Workstation : WS-005</h6>
    <p-chart type="bar" [data]="bar1Chart" [options]="bar1Options"></p-chart>
    <p-chart type="bar" [data]="bar2Chart" [options]="bar2Options"></p-chart>
</div> -->
