.oee-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.oee-badge {
    &.status-good {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-bad {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-ok {
        background: #6366f1;
        color: #ffffff;
    }

    &.status-satisfactory {
        background: #FFECB3;
        color: #FF6F00;
    }
}
