<div class="card flex justify-content-center">

    <div class="grid flex justify-content-center">

        <div class="col-6 flex justify-content-center">
            <span class="p-float-label">
                <!-- <input pInputText id="url" [(ngModel)]="Url" /> -->
                <input pInputText type="text" class="p-inputtext-lg" id="url" [(ngModel)]="Url" />
                <label for="url">Enter URL</label>
            </span>
        </div>

        <div class="col-6 flex justify-content-center">
            <span class="p-float-label">
                <!-- <input pInputText id="port" [(ngModel)]="port" /> -->
                <input pInputText type="text" class="p-inputtext-lg" id="port" [(ngModel)]="port" />
                <label for="port">Enter Port</label>
            </span>
        </div>

    </div>



    <button pButton pRipple label="Submit" class="p-button-success" (click)="concatApiUrl()"></button>

</div>
