<div class="form-group row">

  <label class="col-md-3 col-form-label">Breakdown Category Name :</label>
  <div class="col-md-9">
      <input type="text" class="form-control" [(ngModel)]="breakdownCategoryName"
      placeholder="Enter Breakdown Category">
  </div>
</div>

<div class="d-flex justify-content-end">
  <button id="closeButton" type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
<button (click)="addBreakdowncategory()" *ngIf="bdc.breakdownCategoryId==0" class="btn btn-success"><i class="fa-regular fa-floppy-disk"></i>
  Save
</button>

<button (click)="updateBreakdowncategory()" *ngIf="bdc.breakdownCategoryId!=0" class="btn btn-success"><i class="fa-regular fa-pen"></i>
  Update
</button>
</div>


